  <div class="row" style="margin:15px 0 0 0;">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="tab-pane active">
          <table class="table table-condensed table-hover paths">
            <thead>
              <tr>
                <th></th>
                <th>Length</th>
                <th>Route</th>
                <th colspan="2">Rate Limit (kbps)</th>
              </tr>
            </thead>
            <tbody>
              {{#each paths}}
              <tr>
                <td><a href="#" data-toggle="modal" data-target="#ALTORouteRemoveModal" data-route="{{this.path}}"><i style="color: #d35400;" title="Click here to remove this path..." class="fa fa-trash"></i></a></td>
                <td>{{this.path.length}}</td>
                <td>{{#each this.path}}<span class="label label-primary">{{this}}</span> {{/each}}</td>
                <td style="color: #d35400">
                  {{#tc}}
                  {{this}}
                </td>
                <td>
                  <button type="button" class="btn btn-default btn-xs tc-update"><i class="fa fa-pencil"></i>Update</button>
                  <button type="button" class="btn btn-danger btn-xs tc-remove" data-toggle="modal" data-target="#ALTORateRemoveModal"><i class="fa fa-remove"></i>Remove</button>
                  {{/tc}}
                  {{^tc}}
                  No limit
                </td>
                <td>
                  <button type="button" class="btn btn-success btn-xs tc-create"><i class="fa fa-pencil"></i>Create</button>
                  {{/tc}}
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
