.link-link {
  fill: none;
  stroke: #999;
  stroke-width: 6.5px;
}

.host-link {
  fill: none;
  stroke: #999;
  stroke-width: 6.5px;
}

.port-link {
  fill: none;
  stroke: #666;
  stroke-width: 0px;
}

.switch-circle {
  fill: #000;
  stroke: #B94431;
  stroke-width: 3.5px;
}

.host-circle {
  fill: red;
  stroke: #B94431;
  stroke-width: 3.5px;
}

.port-circle {
  stroke: #B94431;
  stroke-width: 1.5px;
  fill: #000;
}

node {
  display: none;
  position: absolute;
}

.switch text {
  font-size: 12px;
}

.port text {
  font-size: 12px;
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #444;
  shape-rendering: crispEdges;
}

.y {
  color: white;
}

.line {
  stroke: LightSkyBlue;
}

.line2 {
  stroke: lightgreen;
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.area {
  fill: steelblue;
  opacity: 0.4;
}

.main-flow-details {
  border-left: 10px solid LightSkyBlue;
  margin-left: 100px;
}

.oposite-flow-details {
  border-left: 10px solid lightgreen;
}
